body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-group {
  margin-bottom: 20px; /* Adds some space between the groups */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px; /* Adds space above the button */
}